.main-content {
  max-width: 1180px;
  margin: auto;
  margin-top: 100px;
  padding: 30px;
}

@media (max-width: 1040px) {
  .main-content {
    max-width: 700px;
    margin: auto;
    margin-top: 100px;
  }

}
.page-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 350px;
  align-items: start;
  gap: 15px;
}

@media (max-width: 1040px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

.cart-item-container {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 20px;
}

.delivery-date{
  font-size: 25px;
  color: rgb(0, 118, 0);
  font-weight: bold;
}

.cart-item-details-grid {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 100px 1fr 250px;
  gap: 18px;
}

@media (max-width: 1040px) {
  .cart-item-details-grid {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 30px; 
  }

  .delivery-options {
    grid-column: 1 / span 2;
  }
}

.product-image {
  width: 100px;
}

.product-name,
.delivery-options-title {
  font-weight: 700;
  font-size: 17px;
}

.product-price {
  color: rgb(177, 39, 4);
  margin-top: 10px;
  font-weight: 700;
}

.product-quantity {
  margin-top: 10px;
  font-size: 16px;
}

.link-primary {
  color: rgb(1, 124, 182);
  cursor: pointer;
}

.link-primary:hover {
  color: rgb(245, 135, 94);
}

.delivery-option {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}


.delivery-option-input {
  width: 25px;
  height: 25px;
  margin-left: 0;
  margin-right: 0;
  cursor: pointer;
}

.delivery-option-date {
  font-size: 16px;
  color: rgb(0, 118, 0);
  font-weight: 500;
}

.delivery-option-price {
 color: rgb(120, 120, 120);
 font-size: 15px;
}

/* payment summary style */
.payment-summary {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  padding: 20px;
}

@media (max-width: 1040px) {
  .payment-summary {
    grid-row: 1;
  }
}

.payment-summary-title {
  font-size: 20px;
  font-weight: 500;
}

.payment-summary-row {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtotal-amount {
  border-top: 1px solid  rgb(221, 221, 221);
  padding-top: 10px;
}

.total-row {
  border-top: 1px solid rgb(221, 221, 221);
  padding: 18px 0;
  font-size: 18px;
  font-weight: 700;
  color: rgb(177, 39, 4);
}

.place-order-button {
  width: 100%;
  background-color: rgb(255, 216, 20);
  font-size: 14px;
  border: none;
  border-radius: 8px;
  padding: 13px 0;
}

.update-quantity-input {
  width: 30px;
}

.update-quantity-input,
.save-quantity-link {
  display: none;
}

.is-editing-quantity .update-quantity-input,
.is-editing-quantity .save-quantity-link {
  display: initial;
}

.is-editing-quantity .product-count,
.is-editing-quantity .update-quantity-link {
  display: none;
}

.update-input-error {
  color: rgb(247, 61, 61);
}